* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section {
	display:block;
}
header {
	overflow: hidden;
}
header video {
    z-index: -10;
	width: 100vw;
}
h1 {
    position: absolute;
    color: white;
    margin-top: 10%;
}
