@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Oswald:700|Pacifico');
* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section {
	display:block;
}
header {
	overflow: hidden;
}
header video {
    z-index: -10;
	width: 100vw;
}
h1 {
    position: absolute;
    color: white;
    margin-top: 10%;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-size: 10vw;
}
.title-whiskey {
    display: block;
    font-family: 'Pacifico', cursive;
    text-transform: none;
}
.title-and {
    display: block;
    font-family: 'Amatic SC', cursive;
    line-height: 18px;
}
